<footer class="footer">
  <small>
       <a href="#">Carlos Olivares</a>
    by <a href="#">Link # two</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Posts",  posts_path %></li>
      <li><%= link_to "Comments", comments_path %></li>
    </ul>
  </nav>
</footer>